* {
	    box-sizing: border-box;
	    font-family: 'Raleway', sans-serif;
}

html {
	scroll-behavior: auto !important;
}

body {
	background-color: #000000;
}


/* Navbar */
.navbar {
	background-color: transparent !important;
	position: fixed;
	width: 100vw;
	z-index: 1;
}

.logo {
	width: 3.12rem;
	height: 3.12rem;
}

.icono {
	background-color: #0BA7B7;
}

/* Quienes somos */

#quienes-somos {
	margin-bottom: 2rem;

}

h4 {
	color: #ffffff;
	font-size: 2rem;
}

p {
	color: #ffffff;
}


hr {
	color:  #0BA7B7;
}

i {
	color: #ffffff;
}

/* Destacados */



.card {
	background-color: #0BA7B7;
	margin: 10px;
	border: solid 1px #D0DADB;
}

	

.card-body h5 {
	color: #ffffff;
	margin-bottom: 1rem;
}

#Destacados > div.row.m-2 > div:nth-child(3) > div > div {
	max-height: 288px;
}

#Destacados > div.row.m-2 > div:nth-child(4) > div > div {
	max-height: 288px;
}
}

/* contacto */

.text-cont {
	background-color: #ffffff;
	padding: 10rem;
}

.text-cont p {
	color: #000000;
	padding-bottom: 2rem;
}

.btn {
	font-weight: 500;
}


footer {
	background-color: #0BA7B7;
}

