html {
	scroll-behavior: auto !important;
}

body {
	font-family: Helvetica;
	background-color: #000000;
}

/* Navbar */
.navbar {
	background-color: transparent !important;
	position: fixed;
	width: 100vw;
	z-index: 1;
}

.logo {
	width: 3.12rem;
	height: 3.12rem;
}

.icono {
	background-color: #0BA7B7;
}

/* Quienes somos */

#quienes-somos {
	margin-bottom: 2rem;

}

h4 {
	color: #ffffff;
	font-size: 2rem;
}

p {
	color: #ffffff;
}


hr {
	color:  #0BA7B7;
}

i {
	color: #ffffff;
}

/* Destacados */



.card {
	background-color: #0BA7B7;
	margin: 10px;
	border: solid 1px #D0DADB;
}

	

.card-body h5 {
	color: #ffffff;
	margin-bottom: 1rem;
}

/* contacto */

.cont-contacto {
	background-color: #ffffff;
	padding: 10rem;
	margin: 2rem;
}

.cont-contacto h5 {
	color: #000000;
}



footer {
	background-color: #0BA7B7;	
}

